*,*::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

body {
    background-color: #000000ce;
    
}
.container {
    margin: auto;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    
}
#display {
    /* width: 100%; */
    font-size: 72px;
    font-weight: lighter;
    color: #fff;
    width: 410px;
       
}
.buttons {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons button {
    width: 80px;
    height: 80px;
    background-color: transparent;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 50%;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.5);
}

#startStop {
    transition: all 250ms ease-in;
    background-color: seagreen;
    margin-right: 20px;
}

#reset {
    transition: all 250ms ease-in;
    background-color: maroon;
    margin-left: 20px;
}

#startStop:active, #reset:active {
    transform: scale(0.9);
}


